*, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 font-size: 18px;
	 line-height: 1.5;
	 font-weight: 300;
	 color: #333;
	 font-family: "Nunito Sans", sans-serif;
}
 body {
	 margin: 0;
	 padding: 0;
	 height: 100vh;
	 background-color: #ecf0f9;
	 background-attachment: fixed;
}
.large {
     font-size: 3rem;
}

 p.overview {
	 font-size: 14px;
	 height: 200px;
	 width: 100%;
	 overflow: hidden;
	 text-overflow: ellipsis;
}
 .heading {
	 width: 100%;
	 margin-left: 1rem;
	 font-weight: 900;
	 font-size: 1.618rem;
	 text-transform: uppercase;
	 letter-spacing: 0.1ch;
	 line-height: 1;
	 padding-bottom: 0.5em;
	 margin-bottom: 1rem;
	 position: relative;
}
 .heading:after {
	 display: block;
	 content: '';
	 position: absolute;
	 width: 60px;
	 height: 4px;
	 background: linear-gradient(135deg, #1a9be6, #1a57e6);
	 bottom: 0;
}
 .description {
	 width: 100%;
	 margin-top: 0;
	 margin-left: 1rem;
	 margin-bottom: 1rem;
}
#cardmovie {
  perspective: 150rem;
  position: relative;
  height: 450px;
  width:calc(100%-1rem);
  box-shadow: none;
  background: none;
  cursor:pointer;
  margin-bottom:1.5rem;
  margin-top:1.5rem;
  border: none;
}

.card-side {
  height: 20rem;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
  padding:2rem;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #4158D0;
  background-image:linear-gradient(to right top,#003865,#293462);
}

.card-side.front {
  background-color: #0093E9;
  background-image:linear-gradient(135deg,#003865,#371B58);
}

.front:before {
	 position: absolute;
	 display: block;
	 content: '';
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: linear-gradient(135deg, #003865, #1C3879);
	 opacity: 0.35;
	 z-index: -1;
}

.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  transform: rotateY(0deg);
}
 @media screen and (max-width: 800px) {
	 .card {
		 width: 100%;
		 height: 450px
	}
}
 @media screen and (max-width: 500px) {
	 .card {
		 width: 100%;
		 margin:1.5 rem
		 height: 450px
	}
}
 .front, .back {
	 display: flex;
	 background-position: center;
	 background-size: cover;
	 text-align: center;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 transform-style: preserve-3d;
	 transition: ease-in-out 600ms;
}

.container.add {
    margin-top: 40px;
    margin-bottom: 20px;
}
.rating {
    color: #E4BB23;
}
.review {
    font-style: italic;
}
 .movie_gens {
	 font-size: 11.5px;
}
 .title {
	 font-weight: bold;
}
 .release_date {
	 font-weight: normal;
}

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:100px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
    font-size: 1 rem;
}
