{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
   {% for movie in movies: %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card" id="cardmovie">
            <div class="card-side front" style="background-image: url('{{ movie.img_url }}');">
                <p class="large">{{ movie.id }}</p>
            </div>
            <div class="card-side back">
                <div>
                    <div class="title">
                        {{ movie.title }}</br>
                        <span class="release_date">{{ movie.release_date }}</span>
                    </div>
                    <div class="rating">
                        <label>{{ movie.rating }}</label>
                        <i class="fas fa-star star"></i>
                    </div>
                    <p class="review">{{ movie.review }}</p>
                    <p class="overview">{{ movie.overview }}</p>

                    <a href="{{ url_for('edit', id=movie.id) }}" class="btn btn-primary">Update</a>
                    <a href="{{ url_for('delete', id=movie.id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<div class="container text-center add">
    <a href="{{ url_for('add',page='add.html') }}" class="btn btn-primary">Add Movie</a>
</div>
<div class="container">
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='comment_text') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}


    {% for comment in comments: %}

    <div class="card mb-4">
          <div class="card-body">
            <p>{{comment.text|safe}}</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="{{ comment.comment_author.email | gravatar }}" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">{{comment.comment_author.name}}</p>
              </div>
            </div>
            <a href="{{ url_for('delete_comment', author_id=user_id) }}" class="btn btn-danger">Delete</a>
          </div>
        </div>


    {% endfor %}
</div>

{% endblock %}
